# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### GoLand ###
.idea
*.iws
*.iml
*.ipr
*.csv
*.DS_Store

### Go Patch ###
/vendor/
/Godeps/
out/
atlassian-ide-plugin.xml
/logger/vendor/
/logger/Gopkg.lock
/rest_errors/vendor/
/rest_errors/Gopkg.lock
